{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Log in!{% endblock %}

{% block body %}
<form class="container min-vh-100 d-flex justify-content-center flex-column" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal text-center ">Connectez-vous!</h1>
    <div class="d-lg-flex justify-content-lg-between col-12 mb-3">
        <label class="col-lg-2 col-sm-5" for="inputLogin">Email ou Pseudo :</label>
        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autofocus>
    </div>
    <div class="d-lg-flex justify-content-lg-between col-12 my-3">
        <label class="col-lg-2 col-sm-5" for="inputPassword">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="form-control">
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="d-flex col-12 mt-3">
        <label class="col-lg-2 col-sm-5 form-check-label" for="rememberMe">Se souvenir de moi</label>
        <input class="form-check-input" type="checkbox" name="_remember_me" id="rememberMe">
    </div>

    <div class="d-flex mt-5 justify-content-center">
        <button class="btn btn-lg btn-blue-light col-6 " type="submit">Se connecter</button>
    </div>
</form>
{% endblock %}
