{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Nous{% endblock %}

{% block body %}

    <div class="container-fluid text-center p-4 bg-dark text-white">
        <h1>SORTIR.COM <i class="bi bi-emoji-sunglasses"></i></h1>
    </div>

    <div class="container-fluid p-0 min-vh-100">
        <div class="d-flex min-vh-100">
            <div class="container my-2 align-self-center">
                <h1 class="mb-4 text-center">L'équipe du projet Sortir.com</h1>
                <div class="d-flex justify-content-between text-center mb-5">
                    <article class="col-md-3 col-12 bg-dark rounded">
                        <a href="https://github.com/Alexandrine-L" class="link-blue-light">
                            <img class="col-12 rounded" src="{{ asset('img/default_img.jpg') }}">
                            <h5 class="mt-2">Alexandrine Luseau</h5>
                            <p class="text-white"></p>
                        </a>
                    </article>
                    <article class="col-md-3 col-12 bg-dark rounded">
                        <a href="https://github.com/anaelle97" class="link-blue-light">
                            <img class="col-12 rounded" src="{{ asset('img/default_img.jpg') }}">
                            <h5 class="mt-2">Anaelle Cloarec</h5>
                            <p class="text-white"></p>
                        </a>
                    </article>
                    <article class="col-md-3 col-12 bg-dark rounded">
                        <a href="https://github.com/RoiPorci" class="link-blue-light">
                            <img class="col-12 rounded" src="{{ asset('img/RoiPorci.png') }}">
                            <h5 class="mt-2">Valérian Charron</h5>
                            <p class="text-white">RoiPorci</p>
                        </a>
                    </article>
                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum risus arcu, a cursus purus vulputate
                    id. Praesent vestibulum augue facilisis ante tincidunt vulputate. Proin cursus felis et massa sagittis, vel
                    congue leo gravida. In pretium luctus nunc, vel consequat sapien semper nec. Mauris pretium fringilla laoreet.
                    Phasellus tincidunt condimentum tincidunt. Vestibulum quis ligula vitae tortor viverra consequat ut vehicula
                    nisi.
                </p>
                <p>
                    Aliquam fringilla sapien at tellus dignissim ullamcorper at sit amet mi. Vestibulum blandit enim et justo
                    vehicula, eu egestas nisl consectetur. Nullam vestibulum mi at ante faucibus volutpat. Duis efficitur
                    tristique justo. Praesent in facilisis lectus. Etiam quis dui euismod, elementum eros nec, iaculis nisi.
                    Nunc ut luctus lacus. Donec elementum et leo vel vestibulum. Aliquam vel augue ut dui hendrerit finibus ut
                    at turpis. Aliquam eget rutrum sem. Sed sagittis faucibus augue non euismod.
                </p>
            </div>
        </div>
    </div>

{% endblock %}



