body, form{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

.message-flash {
    height: 56px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.custom-file, #form_cancel_trip > form {
    width: 100%;
}

h1, h2, h3, h4, h6, h5, .nav-item, .btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.form-check-input:checked {
    background: #23c4f0;
    border-color: #23c4f0;
}

/* ------------------------------------ Scrollbar ------------------------------------ */

/* --- Sous Chrome --- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track,  ::-webkit-scrollbar-button {
    background-color: #18181e;
}

::-webkit-scrollbar-button {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #23c4f0;
}

/* --- Sous Firefox --- */

* {
    scrollbar-width: thin;
    scrollbar-color: #23c4f0 #18181e;
}


/* ------------------------------------ Link ------------------------------------ */

.link-blue-light{
    color: white;
    transition: all 0.5s;
}
.link-blue-light:hover{
    color: #23c4f0;
    transition: all 0.5s;
}

.text-blue-light{
    color: #23c4f0;
}

/* ------------------------------------ FENETRE MODAL & MESSAGE FLASH -------------------------------------- */

.modal-body {
    background: #212529;
    color: #fff;
}

.btn-close {
    opacity: 1;
}

.message-flash > p {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.alert-success {
    color: #ffffff;
    background-color: #26c92d;
    border-color: #26c92d;
}

.alert-danger {
    color: #FFFFFF;
    background: #cf0101;
    border-color: #cf0101;
}

.alert-warning {
    color: #fff;
    background: #ff9900;
    border-color: #ff9900;
}

/* ------------------------------------ Buttons ------------------------------------ */

.btn {
    font-size: 13px;
}

.btn-blue-light, #user button, .btn-blue-light-nav,
    .btn-blue-light-sortie:hover, .btn-blue-light-retour:hover,
    #cancel_trip_confirm:hover, #trip_create, #trip_publish         {
    border: none;
    background: #23c4f0;
    color: #fff;
    transition: all 0.5s;
}

.btn-blue-light-nav:hover, .btn-blue-light-sortie {
    background: #fff;
    transition: all 0.5s;
    color: #212529;
    border: none;
}

.btn-blue-light:hover, #user button:hover, #cancel_trip_confirm,
.btn-blue-light-retour, #trip_create:hover, #trip_publish:hover {
    background: #212529;
    transition: all 0.5s;
    color: #fff;
    border: none;
}

.trip_buttons > div > .form-group > button {
    width: 85%;
    padding: 15px 0px;
}

.trip_buttons .btn-blue-light-retour {
    padding: 15px 0px;
}

#trip_detail > a {
    width: 100%;
    padding: 15px 0px;
}
/* ------------------------------------ NAV ------------------------------------ */

.nav-item a {
    font-size: 13px;
    letter-spacing: 1.2px;
}

/* ------------------------------------ Form Profil - Form Trip ------------------------------------ */

form .form-error-icon{
    display: none;
}

#formProfil {
    margin-left: 30px;
}

#location-plus {
    border-radius: 50%;
}

#user > .form-group, #formTrip .form-group, #form_cancel_trip > form > .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

#user > .form-group > label, #form_cancel_trip > form > .form-group > label {
    width: 25%;
}

#formTrip label {
    width: 60%;
}

#user > .form-group:last-child  {
    display: flex;
    justify-content: center;
    color: #B0413E;
}

#user button {
    border: none;
    width: 35%;
}

#trip_details {
    height: 150px;
    resize: none;
    scrollbar-width: 5px;
    scrollbar-color: #23c4f0;
}

select[id='trip_city'], select[id='trip_organiserCampus'], select[id='trip_location'] {
    width: 180%;
}

#form_cancel_trip > .form-group, #form_cancel_trip > form > .form-group {
    display: flex;
}

#cancel_trip_details {
    resize: none;
    width: 490px;
    height: 175px;
}


/* ------------------------------------ list ------------------------------------ */

.participants-list{
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: 5px;
    scrollbar-color: #23c4f0;
}

.participants-list::-webkit-scrollbar, textarea::-webkit-scrollbar{
    width: 5px;
}

.participants-list::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb{
    background-color: #23c4f0;
}

#participants-list-head{
    background-color: #212529;
    color: white;
}

/* ------------------------------------ Home ------------------------------------ */


.home-trip-title {
    font-size: 13px;
    border-bottom: 1px solid #fff;
    height: 25px;
}

.home-trip-title > h5 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-trip-subtitle {
    font-size: 12px;
    color: #aeaeae;
}

.home-trip-subtitle > span > a {
    color: #23c4f0;
    transition: all 0.3s;
}

.home-trip-subtitle > span > a:hover {
    color: #aeaeae;
    transition: all 0.3s;
}

home-trip-title > span:last-child, .home-wording {
    text-align: right;
}

.input-group-text {
    background: #23c4f0;
    border: none;
    color: #fff;
    border: 1px solid #ced4da;
    border-right: 0px
}

#list_trip_name {
    border-left: 0px;
}

.card-body p {
    font-size: 15px;
}

.pagination {
    justify-content: center;
}

.pagination > .page-item > .page-link {
    background: #212529;
    color: #23c4f0;
    border-color: #fff;
    transition: all 0.5s;
}

.pagination > .page-item > .page-link:hover {
    background: #23c4f0;
    color: #212529;
    transition: all 0.5s;
}

.trip_user_regist {
    text-transform: uppercase;
    color: #26c92d;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

/* ------------------------------------ Sortie ------------------------------------ */

#table-head-participants {
    border-radius: 5px 5px 0px 0px;
}

#table-participants {
    border-radius: 0px;
}

#table-participants > a, #trip_organisateur > a {
    color: black;
    transition: all 0.3s;
}

#table-participants > a:hover > li, #trip_organisateur > a:hover > li {
    background: #212529;
    border: 1px solid transparent;
    color: #23c4f0;
    transition: all 0.5s;
}

/* ------------------------------------ Profil ------------------------------------ */

#no-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}