body{
    font-family: 'Ubuntu', sans-serif;
}


a{
    text-decoration: none;
}

/* Link */
.link-blue-light{
    color: white;
    transition: all 0.5s;
}
.link-blue-light:hover{
    color: #1ED8FF;
    transition: all 0.5s;
}

.text-blue-light{
    color: #1ED8FF;
}

/* Buttons */
.btn-blue-light, #user button, .btn-blue-light-nav {
    background: #1ED8FF;
    color: #fff;
    transition: all 0.5s;
}

.btn-blue-light-nav:hover {
    background: #fff;
    transition: all 0.5s;
    color: #212529;
}

.btn-blue-light:hover, #user button:hover {
    background: #212529;
    transition: all 0.5s;
    color: #fff;
}

/* Form Profil - Form Trip */

#formProfil {
    margin-left: 30px;
}

#user > .form-group, #formTrip .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

#user > .form-group > label {
    width: 25%;
}

#formTrip label {
    width: 60%;
}

#user > .form-group:last-child  {
    display: flex;
    justify-content: center;
    color: #B0413E;
}

#user button {
    border: none;
    width: 35%;
}

/*list*/

.participants-list{
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: 5px;
    scrollbar-color: #1ED8FF;
}

.participants-list::-webkit-scrollbar{
    width: 5px;
}

.participants-list::-webkit-scrollbar-thumb{
    background-color: #1ED8FF;
}

#participants-list-head{
    background-color: #212529;
    color: white;
}
